/* index.css */
@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");

/* 공통속성 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.cf::after {
  content: "";
  display: block;
  clear: both;
}

img {
  max-width: 100%;
  vertical-align: middle; /* 공백 생길 때 */
}

.row {
  max-width: 1170px;
  margin: 0 auto;
  height: inherit;
}

/* ------------------------------------------------- */

#header {
  height: 100px;
  /* position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.05);
  z-index: 99; */
}

#header > .row > h1 {
  float: left;
  height: inherit;
}

#header > .row > #nav {
  float: right;
  height: inherit;
}

#header > .row > h1,
#header > .row > #nav {
  display: flex;
  align-items: center;
}

#header #nav > .depth1 {
  height: 100%;
  vertical-align: middle;
}

#header #nav > .depth1 > li {
  float: left;
  font-weight: bold;
  font-size: 14px;
  color: #101010;
  height: 100%;
  position: relative;
}

#header #nav > .depth1 > li > a {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  position: relative;
  align-items: center;
  transition: all 0.3s;
}

#header #nav > .depth1 > li > a::after {
  color: #ddd;

  padding: 4px 0 0 14px;

  font-family: FontAwesome;
  font-size: 11px;

  content: "\f107";
}

#header #nav > .depth1 > li > a:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

#header #nav > .depth1 > li > .depth2 {
  display: none;
  position: absolute;
  z-index: 1;
  width: 200px;
  top: 100%;
  border-top: 2px solid turquoise;
  background-color: #333;
  color: #bfbfbf;
  font-size: 13px;
  font-weight: 400;
}

#header #nav > .depth1 > li:hover > .depth2 {
  display: block;
}

#nav > .depth1 > li > .depth2 > li > a {
  padding: 10px 20px;
  display: block;
  transition: all 0.3s;
}

#nav > .depth1 > li > .depth2 > li > a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

#header #nav > .depth1 > li > .depth2 > li > a::after {
  color: #ddd;

  padding: 4px 0 0 14px;

  font-family: FontAwesome;
  font-size: 11px;

  content: "\f107";
  display: inline-block;
}

#nav > .depth1 > li > .depth2 > li > a:hover {
  background-color: #303030;
  color: #ddd;
}

/* ============================================ */

#section .slide {
  position: relative;
  /* background-image: url(../image/mainslide1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
  background: url(../image/mainslide1.jpg) no-repeat center / cover;
  height: 600px;
}

#section > .mainpage {
  position: relative;
}

#section > .mainpage::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

#section > .mainpage > .slideOuter {
  position: relative;
}

#section .slide .text {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  color: #fff;
  z-index: 1;
}

#section .slide .text p {
  font-size: 20px;
  font-weight: 400;
}

#section .slide .text h2 {
  font-size: 58px;
  margin-bottom: 70px;
}

#section .slide .text a {
  border: 2px solid #fff;
  border-radius: 4 px;
  font-size: 18px;
  padding: 12px 26px;
  font-weight: bold;
  transition: all 0.3s;
}

#section .slide .text a:hover {
  background: rgba(255, 255, 255, 0.1);
}

/* ------------------------------------------------- */

#section > .ourcompany {
  color: #666;
  padding: 50px 0 80px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#section > .ourcompany > .row > h2,
#section > .ourcompany > .row > p {
  text-align: center;
}

#section > .ourcompany > .row > h2 {
  font-size: 26px;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 200;
  color: #414141;
  padding-bottom: 10px;
}

#section > .ourcompany > .row > p.slogun {
  font-size: 14px;
}

#section > .ourcompany > .row > ul {
  overflow: hidden;
}

#section > .ourcompany > .row > ul > li {
  width: 33.33%;
  float: left;
  padding: 30px 15px;
}

#section > .ourcompany > .row > ul > li > div.ourcompany_image {
  overflow: hidden;
}

#section > .ourcompany > .row > ul > li > div > img {
  transition: all 0.3s;
}

#section > .ourcompany > .row > ul > li > div > img:hover {
  transform: scale(1.04);
}

#section > .ourcompany > .row > ul > li > h3 {
  font-size: 22px;
  padding: 20px 0 32px 0;
  font-weight: 400;
}

#section > .ourcompany > .row > ul > li > p {
  font-size: 14px;
  margin-bottom: 30px;
}

#section > .ourcompany > .row > ul > li > p > a {
  font-size: 12px;
  color: #222;
  border: 1px solid #222;
  padding: 10px 30px;
  border-radius: 4px;
  transition: all 0.3s;
  display: inline-block;
}

#section > .ourcompany > .row > ul > li > p > a:hover {
  background-color: #101010;
  border: 1px solid #101010;
  color: #fff;
}

#section > .product {
  text-align: center;
  padding: 20px 0 80px 0;
}

#section > .product > .row > .product_title {
  padding: 80px 0 20px 0;
}

#section > .product > .row > .product_title > h2 {
  color: #414141;
  font-size: 36px;
}

#section > .product > .row > .product_title > p {
  color: #666;
  font-size: 14px;
  margin: 10px 0 30px 0;
}

#section > .product > .row > .product_title > p > a {
  /* inline 요소인 a는 margin 상하값이 적용 안 됨 > block 속성을 추가하여 문제를 해결함 */
  display: inline-block;
  color: #222;
  font-size: 12px;
  border: 1px solid #666;
  padding: 10px 30px;
  border-radius: 3px;
  transition: all 0.3s;
  margin-bottom: 40px;
}

#section > .product > .row > .product_title > p > a:hover {
  background-color: #101010;
  border: 1px solid #101010;
  color: #fff;
}

#section > .product > .row > .product_image {
  display: block;
  height: inherit;
  overflow: hidden;
}

#section > .product > .row > .product_image > li {
  float: left;
  width: 33.33%;
  height: inherit;
  padding: 0 5px;
  color: #333;
}

#section > .product > .row > .product_image > li > div > img {
  opacity: 1;
  cursor: pointer;
  transition: all 0.3s;
}

#section > .product > .row > .product_image > li > div > img:hover {
  opacity: 0.6;
}

#section > .product > .row > .product_image > li > h3 {
  font-size: 13px;
  color: #333;
  padding: 26px 0 14px 0;
  transition: all 0.3s;
  font-weight: 400;
}

#section > .product > .row > .product_image > li > h3:hover {
  color: #808080;
  text-decoration: underline;
}

#section > .product > .row > .product_image > li > p {
  font-size: 12px;
  color: #999;
}

/* ------------------------------------------------- */

#section > .notice {
  background-color: #222;
  width: 100%;
  padding: 100px 0;
  text-align: center;
  color: #fff;
  background: url(../image/mainbrand3-min.jpg) center / cover;
  position: relative;
  background-attachment: fixed;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* width: 100%;
  height: 100%; */
}

/* #section > .notice::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.8);
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
} */

/* #section > .notice > .slideOuter2 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
} */

#section > .notice .notice_textbox {
  position: relative;
}

#section > .notice .notice_textbox > h2 {
  font-size: 50px;
  font-weight: 200;
}
#section > .notice .notice_textbox > h3 {
  font-size: 24px;
  margin: 20px 0;
}
#section > .notice .notice_textbox > p {
  font-size: 14px;
}

#section > .notice .notice_textbox > p > a {
  font-size: 12px;
  margin: 40px 0;
  display: inline-block;
  padding: 12px 30px;
  border: 1px solid #fff;
  border-radius: 4px;
  transition: all 0.3s;
}

#section > .notice .notice_textbox > p > a:hover {
  background: #101010;
}

#section > .companyinfo {
  text-align: center;
  color: #fff;
  position: relative;
  padding: 100px 0;
}

#section > .companyinfo > .row > ul > li {
  float: left;
  width: 25%;

  position: relative;
}
#section > .companyinfo > .row > ul > li:nth-child(1) {
  background-color: #72c9c3;
}
#section > .companyinfo > .row > ul > li:nth-child(2) {
  background-color: #364759;
}
#section > .companyinfo > .row > ul > li:nth-child(3) {
  background-color: #e0e1e1;
  color: #222;
}
#section > .companyinfo > .row > ul > li:nth-child(4) {
  background-color: #307cae;
}

#section > .companyinfo > .row > ul > li > a {
  padding: 12px 14px 60px;
  display: block;
  position: relative;
}

#section > .companyinfo > .row > ul > li h3 {
  font-size: 30px;
  font-weight: 400;
  margin-top: 50px;
}
#section > .companyinfo > .row > ul > li p {
  font-size: 14px;
  font-weight: 400;
  margin: 30px 0;
  word-break: keep-all;
  letter-spacing: -0.5px;
  height: 54px;
}

#section > .contact {
  text-align: center;
  color: #414141;
  padding: 100px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

#section > .contact > .row > h2 {
  font-size: 36px;
}

#section > .contact > .row > .company_position {
  width: 100%;
  height: 400px;
  background-color: gray;
  margin: 50px 0;
}

#section > .contact > .row > .company_addr {
  padding: 20px 0;
}

#section > .contact > .row > .company_addr > h3 {
  font-size: 26px;
}

#section > .contact > .row > .company_tel {
  font-size: 14px;
  color: #444;
}

#section > .contact > .row > .company_tel > p > a > span {
  color: #666;
  font-weight: bold;
}

#section > .contact > .row > .company_addr > p {
  color: #444;
  font-size: 14px;
}

#section > .contact > .row > .company_sns_icon > a {
  display: inline-block;
  background-color: #404040;
  color: #fff;
  font-size: 20px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  line-height: 44px;
  text-align: center;
  margin: 30px 6px 0;
}

/* ----------------------------------------- */

#footer {
  background-color: #ededed;
  color: #222;
  font-size: 12px;
  border-top: rgba(255, 255, 255, 0.1);
  padding: 40px 0;
  text-align: center;
}
#footer > .row > h2 {
  font-size: 14px;
}

address {
  font-style: normal;
  margin: 20px 0 10px;
  line-height: 1.5em;
}

#footer > .row > .footer_info > p > span {
  margin: 0 8px;
  display: inline-block;
}

#footer > .row > .footer_info > p > span.email {
  display: block;
}

/* ----------------------------------------- */
